@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 7px;
}
 
::-webkit-scrollbar-track {
    background: #bcbcbc;
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
}

h1, h2, h3, h4, h5, h6 {
    background: #D4D4D4;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 20px;
    margin-bottom: 10px;
  }
 h1{
    font-size: 26px;
 }
 a{
  color: blue;
  text-decoration: underline;
 }
 h2{
    font-size: 19px;
    margin: 0px 10px 5px 5px;
    border: none;
    background-color: white;
 }
 h3{
    font-size: 14px;
 }
  p{
    margin: 5px 20px;
  }
  blockquote {
    background: #E6F2E6;
    border-left: 3px solid #408040;
    font-style: italic;
    padding-left: 5px;
    margin-left: 2px;
  }
  pre {
    background: #E0F0FF;
    border-left: 5px solid #55AAFF;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  p > code {
    padding:2px 5px;
  }

  code {
    background: #E0F0FF;
    font-family: JetBrains Mono NL, Courier New, Monospaced;
    font-size: 0.9em;
    word-break: break-word;
  }