@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 7px;
}
 
::-webkit-scrollbar-track {
    background: #bcbcbc;
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
}

h1, h2, h3, h4, h5, h6 {
    background: #D4D4D4;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 20px;
    margin-bottom: 10px;
  }
 h1{
    font-size: 26px;
 }
 a{
  color: blue;
  text-decoration: underline;
 }
 h2{
    font-size: 19px;
    margin: 0px 10px 5px 5px;
    border: none;
    background-color: white;
 }
 h3{
    font-size: 14px;
 }
  p{
    margin: 5px 20px;
  }
  blockquote {
    background: #E6F2E6;
    border-left: 3px solid #408040;
    font-style: italic;
    padding-left: 5px;
    margin-left: 2px;
  }
  pre {
    background: #E0F0FF;
    border-left: 5px solid #55AAFF;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  p > code {
    padding:2px 5px;
  }

  a:hover {
    opacity: 0.8;
  }
  
.blog-pre {
  margin-bottom: 3em !important;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 35px -23px 2px -16px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 35px -23px 2px -16px rgba(0, 0, 0, 0);
  position: relative;
}

.code-copy-btn {
  color: white;
  position: absolute;
  right: 10px;
  top: -2px;
  font-size: 1.5em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.code-copy-btn:hover {
  transform: scale(1.1);
  opacity: 0.9;
}




/* code {
    background: #E0F0FF;
    font-family: JetBrains Mono NL, Courier New, Monospaced;
    font-size: 0.9em;
    word-break: break-word;
  } */

  /* .code-copy-btn {
    color: white;
    position: absolute;
    right: 10px;
    top: -2px;
    font-size: 1.5em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
} */

/* .fa-copy {
    transform: scale(1.1);
    opacity: 0.9;
} */