@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 7px;
}
 
::-webkit-scrollbar-track {
    background: #bcbcbc;
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
}